language: node_js
node_js:
      - "stable"

before_deploy:
      - echo "building hydroid"
      - chmod +x ./travis/build.sh
      - ./travis/build.sh

deploy:
      - provider: s3
        region: ap-southeast-2
        access_key_id: AKIAITTNVFBKCZRF7VTA
        secret_access_key: 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
        bucket: hydroid
        local_dir: release
        upload_dir: releases
        skip_cleanup: true
        on:
          branch: travis-codedeploy
      - provider: codedeploy
        access_key_id: AKIAITTNVFBKCZRF7VTA
        secret_access_key: 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
        bucket: hydroid
        key: releases/hydroid.zip
        bundle_type: zip
        application: hydroid
        deployment_group: Hydroid-Client-Dev-Deployment
        region: ap-southeast-2
        on:
          branch: travis-codedeploy