body {
    padding-top: 50px;
    background-color: white;
}
.navbar.navbar-inverse {
    background-color: #72c7e7;
}
.applicationTitle {
    margin-left:10px;
    color: black;
}
.navbar, .navbar.navbar-default {
    background-color: white;
}
.strap-container {
    margin-top: 20px;
}

.searchBoxFullContainer {
    padding:25px;
}

.searchBoxInputContainer {
    display: inherit;line-height: 2em;
}
.searchBoxInputContainer > input {
    height:55px;
    font-size: 18px;
    font-weight:500;
}

.searchBoxFullContainer .btn-primary {
    background-color: #72C7E7;
    border-color: #72C7E7;
    color:#006983;
}

.searchBoxBtnContainer > button {
    height: 55px;
}

/* Material Design fonts from -> https://fonts.googleapis.com/icon?family=Material+Icons*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v10/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

ul.noLeftPadding {
    -webkit-padding-start: 0px;
}

.facet {
    border-bottom: 1px dotted #cacaca;
    margin: 0 15px 0 15px;
}

li {
    list-style: none;
    line-height: 35px;
}
