body {
    padding-top: 104px;
    background-color: white;
}
.navbar.navbar-inverse {
    background-color: #72c7e7;
}
.applicationTitle {
    margin-left:10px;
    color: black;
}
.navbar, .navbar.navbar-default {
    background-color: white;
}
.strap-container {
    margin-top: 30px;
}
/* Search box and button - START */
.searchBoxFullContainer {
    padding:25px;
    margin-bottom: 20px;
}

.searchBoxInputContainer {
    display: inherit;line-height: 2em;
}
.searchBoxInputContainer > input {
    height:55px;
    font-size: 18px;
    font-weight:500;
}

.searchBoxFullContainer .btn-primary {
    background-color: #72C7E7;
    border-color: #72C7E7;
    color:#006983;
}

.searchBoxFullContainer .btn-primary:focus,
.searchBoxFullContainer .btn-primary.focus {
    color: #006983;
    background-color: #72C7E7;
    border-color: #72C7E7;
}
.searchBoxFullContainer .btn-primary:hover {
    background-color: #72C7E7;
    border-color: #72C7E7;
    color:#006983;
}
.searchBoxFullContainer .btn-primary:active,
.searchBoxFullContainer .btn-primary.active,
.searchBoxFullContainer .open > .dropdown-toggle.btn-primary {
    background-color: #72C7E7;
    border-color: #72C7E7;
    color:#006983;
}
.searchBoxFullContainer .btn-primary:active:hover,
.searchBoxFullContainer .btn-primary.active:hover,
.searchBoxFullContainer .open > .dropdown-toggle.btn-primary:hover,
.searchBoxFullContainer .btn-primary:active:focus,
.searchBoxFullContainer .btn-primary.active:focus,
.searchBoxFullContainer .open > .dropdown-toggle.btn-primary:focus,
.searchBoxFullContainer .btn-primary:active.focus,
.searchBoxFullContainer .btn-primary.active.focus,
.searchBoxFullContainer .open > .dropdown-toggle.btn-primary.focus {
    background-color: #72C7E7;
    border-color: #72C7E7;
    color:#006983;
}
.searchBoxFullContainer .btn-primary:active,
.searchBoxFullContainer .btn-primary.active,
.searchBoxFullContainer .open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.searchBoxBtnContainer > button {
    height: 55px;
}
/* Search box and button - END*/

/* Material Design fonts from -> https://fonts.googleapis.com/icon?family=Material+Icons*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v10/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

ul.noLeftPadding {
    -webkit-padding-start: 0px;
}

.facet {
    margin: 0px;
}
.facet .badge {
    color: #006983;
    background-color: #fff;
}

li {
    list-style: none;
    line-height: 35px;
}

.mainView {
    margin-top: 20px;
}

.searchResults {
    color: #006983;
    padding-bottom: 5px;
    border-bottom: 2px solid #006983;
    margin-bottom: 35px;
}

.cartBtnStyles > button {
    background-color: #006983;
    border-radius: 0px;
}
.cartBtnStyles .btn-primary:active,
.cartBtnStyles .btn-primary:hover {
    background-color: #A33F1F;
    border-color: #A33F1F;
    color: #fff;
}
@media only screen and (max-width: 1090px) {
    .cartBtnStyles > button {
        margin-bottom: 10px;
        width: 100px;
    }

}

.searchRelatedButton {
    border-top: 1px solid #96d1f8;
    background: #006983;
    padding: 10px 40px;
    border-radius: 0px;
    color: #fff;
}
.searchRelatedButton:hover {
    background: #A33F1F;
    cursor: pointer;
}
.searchRelatedButton:active {
    border-top-color: #28597a;
    background: #A33F1F;
}
.searchRelatedButton a {
    color: #fff;
    text-decoration: none;
}

.search-wrapper {
    width: 100%;
    background-color: #006983;
}

.btn {
    border-radius: 0px;
}

.panel-hydroid {
    border-color: #006983;
}

.panel-hydroid > .panel-heading {
    color: #fff;
    background-color: #006983;
    border-color: #006983;
}

.panel-hydroid > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #006983;
}

.panel-hydroid > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #006983;
}

.break-word {
    word-wrap: break-word;
}

table.shopping-cart {
    table-layout: fixed;
}

.imageRow {
    margin-bottom: 15px;
}