<head>
    <style>
        table {border-collapse:collapse; table-layout:fixed; width:400px;}
        table td {word-wrap:break-word;}
    </style>
</head>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Cart Items <span class="glyphicon glyphicon-shopping-cart pull-right"></span></h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>File Name</th>
                <th>File Type</th>
                <th></th>
            </tr>
            </thead>
            <tr ng-repeat="item in cartList">
                <td><a href="{{getAwsRdfsUrl(item)}}">{{ item.title }}</a></td>
                <td>{{ item.docType }}</td>
                <td><a ng-click="removeItemFromCart(item)">Remove</a></td>
            </tr>
        </table>
    </div>
</div>
 <div class="text-center">
     <button class="btn btn-primary" ng-click="downloadCartItems()">Download</button>
</div>