<div class="panel panel-hydroid">
    <div class="panel-heading">
        <h2 class="panel-title">Cart Items <span class="glyphicon glyphicon-shopping-cart pull-right"></span></h2>
    </div>
    <div class="panel-body">
        <table class="table table-condensed shopping-cart">
            <thead>
            <tr>
                <th width="80%">File Name</th>
                <th width="20%"></th>
            </tr>
            </thead>
            <tr ng-repeat="item in cartList">
                <td class="break-word"><a href="{{getDownloadUrl(item)}}">{{ item.title }}</a></td>
                <td class="text-right">
                    <button class="btn btn-danger btn-sm" ng-click="removeItemFromCart(item)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-6 col-md-12 col-lg-6">
                <button class="btn btn-success cartBtn" ng-click="downloadCartItems()">Download All <span class="glyphicon glyphicon-download-alt"></span></button>
            </div>
            <div class="col-xs-6 col-md-12 col-lg-6">
                <button class="btn btn-danger cartBtn pull-right" ng-click="clearCartItems()">Remove All <span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </div>
</div>
