<div class="navbar navbar-fixed-bottom hidden-xs" id="ga-footer-rights">
    <ul>
        <li><a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank"><img src="img/by.png" alt="Creative Commons Logo" width="88"></a></li>
        <li><a href="http://www.ga.gov.au/copyright">Copyright</a></li>
        <li><a href="http://www.ga.gov.au/disclaimer">Disclaimer</a></li>
        <li><a href="http://www.ga.gov.au/privacy">Privacy</a></li>
        <li><a href="http://www.ga.gov.au/accessibility">Accessibility</a></li>
        <li><a href="http://www.ga.gov.au/sitemap">Sitemap</a></li>
        <li><a href="http://www.ga.gov.au/ips">Information Publication Scheme</a></li>
        <li><a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a></li>
        <li><a href="http://www.ga.gov.au/contact-us" class="btn btn-primary searchRelatedButton" style="border-top: none;">Contact us <span class="glyphicon glyphicon-menu-right"></span></a></p></li>
    </ul>
</div>
<div class="visible-xs ga-footer-sm">
    <ul>
        <li><a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank"><img src="img/by.png" alt="Creative Commons Logo" width="88"></a></li>
        <li><a href="http://www.ga.gov.au/copyright">Copyright</a></li>
        <li><a href="http://www.ga.gov.au/disclaimer">Disclaimer</a></li>
        <li><a href="http://www.ga.gov.au/privacy">Privacy</a></li>
        <li><a href="http://www.ga.gov.au/accessibility">Accessibility</a></li>
        <li><a href="http://www.ga.gov.au/sitemap">Sitemap</a></li>
        <li><a href="http://www.ga.gov.au/ips">Information Publication Scheme</a></li>
        <li><a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a></li>
        <a href="http://www.ga.gov.au/contact-us" class="btn btn-primary searchRelatedButton" style="border-top: none;">Contact us <span class="glyphicon glyphicon-menu-right"></span></a></p>
    </ul>
</div>