<div class="container-fluid ga-footer">
    <div class="row" >
        <div class="col-sm-4 col-md-3 col-lg-2 col-lg-offset-2">
            <nav>
                <h3>Quicklinks</h3>
                <ul class="nav ga-footer">
                    <li><a href="http://www.ga.gov.au">Home</a></li>
                    <li><a href="http://www.ga.gov.au/about">About us</a></li>
                    <li><a href="http://www.ga.gov.au/scientific-topics">Scientific Topics</a></li>
                    <li><a href="http://www.ga.gov.au/data-pubs">Data &amp; Publications</a></li>
                    <li><a href="http://www.ga.gov.au/education">Education</a></li>
                    <li><a href="http://www.ga.gov.au/news-events">News &amp; Events</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <nav>
                <h3>Connect with us</h3>
                <ul class="nav">
                    <li><a href="https://twitter.com/GeoscienceAus"><img src="img/twitter-footer.png" width="62" alt="Link to our Twitter page."></a></li>
                    <li><a href="http://www.youtube.com/user/GeoscienceAustralia"><img src="img/youtube-footer.png" width="62" alt="Link to our YouTube page."></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <h3>Our address</h3>
            <p>
                <b>Geoscience Australia</b><br>
                Cnr Jerrabomberra Ave and<br>
                Hindmarsh Drive<br>
                Symonston ACT 2609
            </p>
            <p><a href="https://maps.google.com/maps?q=geoscience+australia&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=56.899383,79.013672&amp;hq=geoscience+australia&amp;radius=15000&amp;t=m&amp;z=13&amp;iwloc=A">View Google Map</a></p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <h3>Important Numbers</h3>
            <p>
                General Enquiries: 1800 800 173<br>
                Switchboard: +61 2 6249 9111<br>
                Earthquake information: 1800 655 739<br>
                Media Hotline: 1800 882 035
            </p>
            <p><a href="http://www.ga.gov.au/contact-us" class="btn btn-primary searchRelatedButton" style="border-top: none;">Contact us <span class="glyphicon glyphicon-menu-right"></span></a></p>
        </div>
    </div>
</div>
<div id="ga-footer-rights">
    <ul>
        <li><a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank"><img src="img/by.png" alt="Creative Commons Logo" width="88"></a></li>
        <li><a href="http://www.ga.gov.au/copyright">Copyright</a></li>
        <li><a href="http://www.ga.gov.au/disclaimer">Disclaimer</a></li>
        <li><a href="http://www.ga.gov.au/privacy">Privacy</a></li>
        <li><a href="http://www.ga.gov.au/accessibility">Accessibility</a></li>
        <li><a href="http://www.ga.gov.au/sitemap">Sitemap</a></li>
        <li><a href="http://www.ga.gov.au/ips">Information Publication Scheme</a></li>
        <li><a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a></li>
    </ul>
</div>