<form ng-submit="enhance()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Text/Document Enhancement (JSP)</h4>
            <p>Paste or type the text you would like to enhance in the box below</p>
        </div>
        <div class="panel-body">
            <div class="alert {{alertCss}}" ng-show="responseMessage">
                {{ responseMessage }}
            </div>
            <label for="title">Document Title</label>
            <input ng-model="document.title" type="text" id="title" class="form-control" maxlength="100"/>
            <label for="content">Document Content</label>
            <textarea ng-model="document.content" name="content" id="content" rows="20" class="form-control"></textarea>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" value="Enhance Text" />
        </div>
    </div>
</form>
