<hydroid-header app-logo="img/geoscience_inline_padded_small.png" app-title="Hydroid"></hydroid-header>
<div class="search-wrapper">
    <hydroid-search on-query="onQueryFunction(query)" on-reset="onResetFunction()"></hydroid-search>
</div>
<div class="row">
    <div class="col-sm-3">
        <hydroid-search-related menu-url="/data/menu.json" menu-items="menuItems" has-results="hasSearchResults"
                                on-menu-click="onMenuClickFunction(facet)"></hydroid-search-related>
        <div class="hidden-xs hidden-sm" ng-show="hasCartItems()">
            <br/>
            <shopping-cart cart-list="cartItems"></shopping-cart>
        </div>
    </div>
    <div class="col-sm-9">
        <div ng-show="hasSearchResults">
            <h4 class="searchResults">Search Results</h4>
            <hydroid-search-results solr-url="/solr" solr-collection="hydroid" query="query" facet="facet"
                                    doc-type="DOCUMENT" section-title="Reports and articles" menu-items="menuItems" cart-items="cartItems"
                                    on-results="onResultsFunction(results)"></hydroid-search-results>
            <hydroid-search-results solr-url="/solr" solr-collection="hydroid" query="query" facet="facet"
                                    doc-type="DATASET" section-title="Data sets" menu-items="menuItems" cart-items="cartItems"
                                    on-results="onResultsFunction(results)"></hydroid-search-results>
            <hydroid-search-results solr-url="/solr" solr-collection="hydroid" query="query" facet="facet"
                                    doc-type="MODEL" section-title="Models" menu-items="menuItems" cart-items="cartItems"
                                    on-results="onResultsFunction(results)"></hydroid-search-results>
            <hydroid-search-results solr-url="/solr" solr-collection="hydroid" query="query" facet="facet"
                                    doc-type="IMAGE" section-title="Images" menu-items="menuItems" cart-items="cartItems"
                                    template-path="components/search/search-results-images.html"
                                    on-results="onResultsFunction(results)"></hydroid-search-results>
        </div>
    </div>
</div>
<div class="visible-xs visible-sm" ng-show="hasCartItems()">
    <br/>
    <shopping-cart cart-list="cartItems"></shopping-cart>
</div>
