<div>
    <div>
        <ul class="noLeftPadding">
            <li ng-repeat="menuItem in menuItems" ng-show="menuItem.count > 0">
                <hydroid-search-related-item has-results="hasResults" menu-item="menuItem" on-menu-click="onMenuClick"></hydroid-search-related-item>
            </li>
        </ul>
    </div>
    <div ng-if="!hasResults">
        <ul class="noLeftPadding">
            <li ng-repeat="menuItem in menuItems" ng-include="'menuTemplateInit'"></li>
        </ul>
    </div>

    <script type="text/ng-template" id="menuTemplateInit">
        <div class="row facet searchRelatedButton">
            <a href="" ng-click="setFacet(menuItem.nodeLabel)" class="col-xs-12">
                <h5>{{ menuItem.nodeLabel }}&nbsp; <span class="glyphicon glyphicon-menu-right pull-right"></span></h5>
            </a>
        </div>
    </script>
</div>